<div id="<%= dom_id subscriber %>">
  <p>
    <strong>Name:</strong>
    <%= subscriber.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= subscriber.email %>
  </p>

  <p>
    <strong>Source:</strong>
    <%= subscriber.source %>
  </p>

</div>
